.about {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;

  &__text {
    text-align: center;
    margin-bottom: 2rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    line-height: clamp(1.5rem, 3.5vw, 1.75rem);;
  }
}
