@use 'config' as *;

.contact {
  background: $headerColor;

  &__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__label {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__input,
  &__textarea {
    height: 2rem;
    padding: 5px;
    margin-top: 0.5rem;
  }

  &__textarea {
    resize: vertical;
  }

  &__submit {
    align-self: center;
    margin-top: 1rem;
  }
}
