@use 'config' as *;

.contact {
  background: $headerColor;

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;

    .contact-label {
      color: white;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .contact-input,
      .contact-textarea {
        height: 2rem;
        padding: 5px;
        margin-top: 0.5rem;
      }

      .contact-textarea {
        resize: vertical;
      }
    }

    .contact-submit {
      align-self: center;
    }
  }
}
