@use './scss/config' as *;
@use './scss/header';
@use './scss/hero';
@use './scss/about';
@use './scss/contact';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

main {
  margin-top: $headerHeight;
}

section {
  padding: 10rem 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.sub-heading {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.5rem;
}

.sub-heading--light {
  color: white;
}

.sub-heading::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 50%;
  background: $accent1;
}

.btn-accent-outline {
  background: none;
  border: 1px solid $accent1;
  color: $accent1;
  padding: 0.75em 1.5em;
  cursor: pointer;
  transition: 300ms;
}

.btn-accent-outline:hover {
  background: $accent1;
  color: black;
}
