.header {
  background: #0a0a0a;
  height: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #b29126, #d4af37, #b29126);
  transition: 300ms;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  position: absolute;
  background: #0a0a0a;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 1rem 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid;
  display: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #b29126, #d4af37, #b29126);
}
.nav__item + .nav__item {
  margin-top: 1rem;
}
.nav__link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85rem;
  transition: 300ms;
  padding: 0.5rem 0;
}
.nav__link:hover {
  color: #d4af37;
}
.nav--visible {
  display: unset;
}

.hamburger {
  width: 35px;
  fill: white;
  cursor: pointer;
  transition: 300ms;
}
.hamburger__hover {
  fill: #d4af37;
}

@media only screen and (min-width: 700px) {
  .nav {
    all: unset;
  }
  .nav__list {
    display: flex;
  }
  .nav__item + .nav__item {
    margin-top: 0;
    margin-left: 1rem;
  }

  .hamburger {
    display: none;
  }
}
.header-shrink {
  height: 50px;
  border-bottom: 1px solid;
}
.header-shrink .nav {
  border-bottom: 1px solid;
}

.hero {
  background-image: url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.hero__container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__heading {
  color: white;
  font-size: 5rem;
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-bottom: 1rem;
}
.hero__text {
  color: white;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 1rem;
  line-height: 1.3rem;
}
.hero__btns {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}

.about {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.about__text {
  text-align: center;
  margin-bottom: 2rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.contact {
  background: #0a0a0a;
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.contact__label {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact__input, .contact__textarea {
  height: 2rem;
  padding: 5px;
  margin-top: 0.5rem;
}
.contact__textarea {
  resize: vertical;
}
.contact__submit {
  align-self: center;
}

.footer {
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #b29126, #d4af37, #b29126);
  background: #0a0a0a;
}
.footer__container {
  padding: 5rem 0;
}
.footer__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__secondary {
  margin-top: 2rem;
  text-align: center;
}
.footer__nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.footer__list {
  width: 100%;
}
.footer__item + .footer__item {
  margin-top: 1rem;
}
.footer__link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__bottom-bar {
  background: #ddd;
}
.footer__bottom-link {
  padding: 5px 0;
  text-align: center;
  color: black;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
@media only screen and (min-width: 400px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
  .footer__item + .footer__item {
    margin-top: 0;
  }
}
@media only screen and (min-width: 700px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
  .footer__primary {
    width: 40%;
  }
  .footer__secondary {
    width: 55%;
  }
}

.social {
  display: flex;
  margin-top: 1rem;
}
.social__link + .social__link {
  margin-left: 1rem;
}
.social__svg {
  width: 30px;
  fill: white;
}

.shop {
  padding: 2rem 0;
}
.shop__listings {
  display: grid;
  gap: 2rem;
}
@media only screen and (min-width: 600px) {
  .shop__listings {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 900px) {
  .shop__listings {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listing__img-container {
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
}
.listing__img {
  transition: 300ms;
}
.listing__img:hover {
  transform: scale(1.1);
}
.listing__content {
  text-align: center;
  padding: 1rem 0;
  z-index: 10;
}
.listing__link {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 200ms;
}
.listing__link:hover {
  color: #404040;
}
.listing__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 40px;
  background: #d4af37;
}
.listing__price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.listing__btn {
  background: black;
  border: 1px solid black;
  color: white;
  padding: 0.75em 1.5em;
  cursor: pointer;
  transition: 300ms;
}
.listing__btn:hover {
  transform: scale(1.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The following block keeps the footer at the bottom of the page when there is
not enought content to push it to the bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.padded-section {
  padding: 7rem 0;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
  transition: 300ms;
}

.logo:hover {
  color: #d4af37;
}

.sub-heading {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.5rem;
}
.sub-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 50%;
  background: #d4af37;
}
.sub-heading--light {
  color: white;
}

.btn-accent {
  background: #d4af37;
  border: 1px solid #d4af37;
  color: black;
  padding: 0.75em 1.5em;
  cursor: pointer;
  transition: 300ms;
}
.btn-accent:hover {
  background: #b29126;
}

.btn-accent-outline {
  background: none;
  border: 1px solid #d4af37;
  color: #d4af37;
  padding: 0.75em 1.5em;
  cursor: pointer;
  transition: 300ms;
}
.btn-accent-outline:hover {
  background: #d4af37;
  color: black;
}